@model CameraDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Câmara</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera.RestrictedZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.RestrictedZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera.RestrictedArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.RestrictedArea)
        </dd>
    </dl>
</div>


<form asp-controller="Cameras" asp-action="Details" method="get" asp-route-id="@Model.Camera.Id"> <!-- Default method is post -->
    <p>
        <label asp-for="BeginningDate"></label>
        <input asp-for="BeginningDate" />
        
        <label asp-for="EndingDate"></label>
        <input asp-for="EndingDate" />
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    </p>
</form>

<div class="row">

<div class="col-md-6 SightingListDetails">
    <div class="SightingListHeader">
        <strong> Notificações de Avistamentos </strong>
    </div>

    @foreach (var sighting in Model.CapturedSightings)
    {
        <div class="Sighting">
            <p><strong><a asp-action="Details" asp-controller="Species"
                          asp-route-id="@sighting.SpeciesId">@sighting.Species.CommonName</a> - @sighting.Quantity indivíduos</strong></p>
            <p>@sighting.CaptureMoment</p>
        </div>
    }
</div>
    

<div class="col-md-6" >
    <h5> Número de Avistamentos Capturados </h5>
    <div>
        <canvas id="myBarChart" width="400" height="200"></canvas>
    </div>
</div>

</div>

<br>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Camera.Id">Editar |</a> 
    }
    <a asp-action="Index">Voltar à listagem</a>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script type="text/javascript">
        $(function () {
            let ctx_bchart = document.getElementById("myBarChart").getContext("2d");

            
            new Chart(ctx_bchart, {
                            type: 'bar',
                            data: @Html.Raw(Json.Serialize(Model.BarChart))
                   
                        })
            });
    </script>
}
