@model SpeciesDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var basePath = Context.Request.PathBase;
}

<h1>Detalhes</h1>

<div>
    <h4>Espécie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.CommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species.ScientificName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.ScientificName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species.IsPredatory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.IsPredatory)
        </dd>
        <dt class = "col-sm-2">
            Imagem
        </dt>
        <dd class = "col-sm-10">
            @if (!String.IsNullOrEmpty(Model.Species.Image))
            {
                var imagePath = $"{basePath}/Image/{Model.Species.Image}";
                <img src="@imagePath"  alt="Image did not render" width="256px" height="256px"/>
            }
        </dd>
    </dl>
</div>

<div class="col-md-6 SightingListDetails">
    <div class="SightingListHeader">
        <strong> Notificações de Avistamentos </strong>
    </div>

    @foreach (var sighting in Model.CapturedSightings)
    {
        <div class="Sighting">
            <p><strong> @sighting.Quantity indivíduos</strong></p>
            <p>Câmara: <a asp-action="Details" asp-controller="Cameras"
                          asp-route-id="@sighting.CameraId">@sighting.Camera.Name</a></p>
            <p>@sighting.CaptureMoment</p>
        </div>
    }
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Species.Id">Edit |</a> 
    }
    <a asp-action="Index"> Voltar à listagem</a>
</div>
