@model PenedaVes.Models.Species

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var basePath = Context.Request.PathBase;
}

<h1>Details</h1>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPredatory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPredatory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @if (!String.IsNullOrEmpty(Model.Image))
            {
                var imagePath = $"{basePath}/Image/{Model.Image}";
                <img src="@imagePath"  alt="Image did not render" width="500px"/>
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
